* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Your styles begin here */

.container{
    height: 900px;
    width: 900px;
    background-color: slategrey;
    display: flex;
    flex-flow: column;
    padding: 30px;
    margin: auto;
}

.ReturnLink{    
    height: 100px;
    width: 250px;
    background-color: blanchedalmond;
    display: flex;
    flex-flow: column;
}

.description{
    height: 100px;
    width: 850px;

}
.img{
    height: 300px;
    width: 300px;
    display: flex;
    flex-flow: column;
}
.types{
    height: 30px;
    width: 250px;
    margin-bottom: 30px;
    display: flex;
    flex-flow: column;
}

.name{
    height: 100px;
    width: 250px;
    display: flex;
    flex-flow: column;
}
.evolutionsPokemon, .evolutionsLevel, .evolutionsMethod{
    height: 100px;
    width: 20vw;

    border-collapse: collapse;
    border: 2px solid black;

}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

