* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Your styles begin here */

.container{
    width: 850px;
    margin: auto;
}

.pokemon{
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: auto;
    text-align: center;
   
    
}