<!DOCTYPE html>
<html>
    <head>
        <title>Pokedex</title>

        <!-- For this page, your styles will be in /static/css/index.css -->
        <!-- Do NOT use a CSS library or framework like Bootstrap - practice writing CSS first -->
        <link type="text/css" rel="stylesheet" href="/static/css/detail.css" />

        <!-- jQuery is already downloaded and installed for you -->
        <!-- In order to use jQuery in your JavaScript, this file needs to be added BEFORE your custom JavaScript -->
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>


    </head>
    <body>
        <!-- Your HTML should be here -->
        <a href="/"> <h3>Return to main page</h3></a>
        <div class="container">
            <div class="name"></div>
            <div class="img"></div>
            <h3>Types</h3>
            <ul>
                <div class="types"></div>
            </ul>
            <h3>Description </h3>        
            <div class="description"></div>
            
            <h3>Evolutions </h3>
            <table>
                <tr> 
                    <th>Pokemon   </th>
                    <th>Level   </th>
                    <th>Method   </th>
                </tr>
             </table> <!--using two separate tables so the headers stay at the top -->
            <table>
                <tr>

                    <div class="evolutions"></div>

                </tr>
            </table>
            
        </div>
            
     
        
       
        
        <!-- Your HTML should end here -->
        <!-- Something is missing here in order for your JavaScript to work. What do you need to add? -->
        <script type="text/javascript" src="/static/js/detail.js"></script>
    </body>
</html>